.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f2f5;
}

.container main {
    width: 90%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 8em;
}

.login_card {
    padding: 2em 1em;
    height: fit-content;
    background-color: white;
    border-radius: 7px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.inputs_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

.inputs {
    display: flex;
    width: 100%;
    gap: .3em;
    flex-direction: column;
}

.inputs label {
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(181, 181, 181);
    font-size: .9em;
}

.btn_login {
    width: 100%;
}

.active {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--yellow-secondary);
    cursor: pointer;
    color: white;
}

.btn_login button:disabled {
    width: 100%;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #e8b41665;
    border: 1px solid #E8B516;
    cursor: pointer;
    color: white;
    height: fit-content;
    cursor: default;
}

.btn_login button:disabled img {
    width: 50px;
}

.create {
    display: flex;
    justify-content: center;
}

.create h2 {
    color: rgb(159, 159, 159);
    font-weight: 400;
    font-size: 1em;
}

.create a {
    color: var(--yellow-secondary);
    ;
    cursor: pointer;
    font-weight: 500;
}

.create_email_message h1 {
    color: var(--brown);
    font-size: 1.5em;
    font-weight: 500;
}

.checks {
    display: flex;
    align-items: center;
    gap: 2em;
}

.check {
    display: flex;
    align-items: center;
    gap: .2em;
}

.forgot_password {
    display: flex;
    width: 100%;
    justify-content: end;
    margin-bottom: 1em;
}

.forgot_password a {
    color: var(--yellow-secondary);
    ;
    cursor: pointer;
    font-weight: 500;
    font-size: .9em;
}

.logo_side {
    display: flex;
    flex-direction: column;
    width: 520px;
    gap: .5em;
    height: 300px;
}

.logo_side h2 {
    font-size: 30px;
    line-height: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    padding-bottom: .4em;
    padding-left: .2em;
}

.logo_side img {
    width: 170px;
}

@media (max-width: 800px) {
    .container main {
        flex-direction: column;
        width: 100%;
        gap: 1em;
        justify-content: start;
    }

    .logo_side {
        width: auto;
        height: auto;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .logo_side h2 {
        width: auto;
        font-size: 20px;
        padding-bottom: 0em;
    }

    .login_card {
        width: 100%;
    }

    .container {
        padding: 1em;
    }

    .checks {
        flex-direction: column;
        gap: .4em;
        align-items: flex-start;
    }

    .inputs_container {
        gap: 1em;
    }

    .form {
        gap: 1em;
    }
}