.container {
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background: linear-gradient(to right, rgb(224, 195, 9), var(--yellow-secondary));
    display: flex;
    justify-content: center;
    gap: .5em;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.4em;
}

.text h2 {
    color: white;
    font-size: 5vw;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.415);
}

.text button {
    background-color: transparent;
    color: white;
    font-size: 2vw;
    border: 2px solid white;
    font-weight: 600;
    width: fit-content;
    padding: .5em 1em;
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.124);
    transition: .5s;
    cursor: pointer;
}

.text button:hover {
    background-color: white;
    color: var(--brown);
} 

.text h2 strong {
    color: var(--brown);
    text-shadow: none;
}

.image {
    position: relative;
}

.image img {
    width: 40vw;
    transform: scaleX(-1);
}

.logo_end_text {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}

.logo_end_text h1{
    width: 100%;
    text-align: center;
    background: #200F00;
    padding: .3em 2em;
    border-radius: 12px 12px 2px 2px;
    font-family: 'Nunito', sans-serif;
    color: #E8B516;
    font-size: 3em
}

.login {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    overflow-y: hidden;
}

.login button {
    cursor: pointer;
    text-transform: uppercase;
    padding: .5em .9em;
    background: #200F00;
    color: white;
    font-size: 1.1em;
    letter-spacing: 1px;
    border-radius: 8px 8px 1px 1px;
    outline: none;
    border: none;
    transition: .5s;
}

.login button:hover {
    color: var(--yellow-secondary);
}

@media (max-width: 800px) {
  .text button {
    font-size: 2em;
  }
 
}

@media (max-width: 700px) {
    .image {
        display: none;
    }

    .text {
        gap: 4em;
    }
    .text h2 {
        font-size: 2.5em;
        text-align: center;
      }
      .text {
        justify-content: center;
        align-items: center;
      }
}
