.footer {
    background-color: #222;
    color: white;
    padding: 3em;
    text-align: center;
}

.social_list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_list li a {
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    transition: .2s;
}

.social_list a:hover {
    color: #ffbb33;
}

.item {
    margin-right: 1.2em;
}

.copy {
    margin-top: 2em;
}

.copy_span {
    font-weight: bold;
    color: #ffbb33;
}