.create_travel_container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 1em;
}

.create_travel_container nav {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1em;
    margin-top: 1.5em;
}

.active_nav {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 1.7em;
    background-color: rgba(255, 214, 67, 0.424);
    border: 2px solid var(--yellow-secondary);
    padding: .2em .5em;
    border-radius: 9px;
    color: #1c1c1c;
    transition: .3s;
    height: fit-content;
}

.inactive_nav {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 1.7em;
    padding: .2em .5em;
    border-radius: 6px;
    border: 2px solid transparent;
    color: #1c1c1c;
    cursor: pointer;
    transition: .3s;
    height: fit-content;
}

.inactive_nav:hover {
    background-color: rgba(255, 214, 67, 0.511);
}

.header h1 {
    color: white;
    font-family: "Roboto";
    font-weight: 600;
}

.create_travel_container form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.state_end_city {
    display: flex;
    align-items: center;
}

.two_items_division {
    display: flex;
    gap: 3em;
    align-items: center;
}

.text_input {
    font-family: "Roboto";
    height: 100%;
    padding: .5em;
    border-radius: 6px;
    outline: none;
    font-size: 1.2em;
    border: 2px solid black;
}

.text_input:focus {
    background-color: rgba(77, 132, 234, 0.137);
}

.state_end_city select {
    width: 60px;
    margin-right: 1em;
    appearance: none;
    background: #000;
    border-radius: 8px;
    padding: 1em;
    font-size: 16px;
    color: #c0d4df;
}

.state_end_city select::-webkit-scrollbar {
    width: 6px;
}

.state_end_city select::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.state_end_city select::-webkit-scrollbar-thumb {
    background-color: rgb(226, 221, 221);
    outline: 1px solid slategrey;
    border-radius: 20px;
}

.set_places {
    display: flex;
    gap: 1em;
    align-items: center;
}

.buttons_set {
    display: flex;
    gap: .5em;
}

.buttons_set button {
    background-color: #000;
    color: white;
    padding: .2em .5em;
    font-size: 1.5em;
    border-radius: 9px;
    cursor: pointer;
}

.set_places_name {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-top: .8em;
}

.set_places_name h2 {
    font-family: "Roboto";
    font-weight: 500;
}

.places_end_calendar {
    display: flex;
    justify-content: space-between;
}

.calendar h2 {
    font-family: "Roboto";
    font-weight: 500;
    margin-bottom: 0.5em;
}

.calendar {
    margin-top: .8em;
}

.add_time {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.add_time h2 {
    font-family: "Roboto";
    font-weight: 500;
    margin-top: 1em;
}

.save_travel {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 3em;
}

.create_button {
    width: fit-content;
    text-transform: uppercase;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 1px solid black;
    padding: 0.7em 2em;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 1.3em;
    transition: .3s;
    display: flex;
    align-items: center;
    gap: 0.8em;
}

.create_button:hover {
    background-color: transparent;
    color: black;
}

.cancel_button {
    width: fit-content;
    text-transform: uppercase;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 1px solid black;
    padding: 0.7em 2em;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 1.3em;
    transition: .3s;
    display: flex;
    align-items: center;
    gap: 0.8em;
}

.cancel_button:hover {
    background-color: rgba(15, 15, 15, 0.103);
    color: rgba(0, 0, 0, 0.842);
}


.nav_end_content {
    display: flex;
    gap: 1em;
    width: 100%;
    justify-content: space-around;
}

/* list users */

.list_users_container {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-top: 2em;
    width: 786px;
}

.alert_to_driver {
    display: flex;
    flex-direction: column;
    gap: .5em;

}

.alert_to_driver h1,
.alert_to_driver p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.alert_to_driver h1 {
    font-weight: 500;
}

.list_users {
    display: flex;
    flex-direction: column;
    padding: .5em;
    gap: .7em;
}

.user_card {
    display: flex;
    padding: .4em .3em .4em 0;
    background-color: white;
    border-radius: 9px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.199);
    position: relative;
    align-items: center;
}

.border_color {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 8px;
    background-color: rgb(255, 200, 0);
}

.user_card h1 {
    margin-left: .7em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
}

.user_card h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.actions button {
    display: flex;
    align-items: center;
}

.delete_passenger {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    color: #ff1d0b !important;
    cursor: pointer;
    transition: .3s;
}

.delete_passenger:hover {
    background-color: #ff1b0ba8;
    color: white !important;
}

.chat_passenger {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    color: #E8B516 !important;
    cursor: pointer;
    transition: .3s;
    padding: .2em;
}

.chat_passenger:hover {
    background-color: #e8b41690;
    color: white !important;
}

@media (max-width: 800px) {
    .two_items_division {
        flex-direction: column;
        gap: 1em;
    }

    .places_end_calendar {
        flex-direction: column;
    }

    .calendar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}